@using kajiApp_blazor.Components.ViewModel.HomeDBC
@using kajiApp_blazor.Components.ViewModel
@implements IDisposable
@inject kajiappDBContext DbContext
@using kajiApp_blazor.Components.Entity;

<div class="card bg-dark text-white shadow-lg rounded">
    <div class="card-body">
        @if (isLoading)
        {
            <!-- ぐるぐるマークを表示 -->
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-light" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        }
        else if (worklist == null || !worklist.Any())
        {
            <p class="text-center">2日間の記録がありません</p>
        }
        else
        {
            <div class="table-responsive">
                <table class="table table-dark table-striped table-hover text-center">
                    <thead class="table-light text-dark">
                        <tr>

                            <th>Day</th>
                            <th>Name</th>
                            <th>Work</th>
                            <th>Percent</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var w in worklist)
                        {
                            <tr>

                                <td style="font-size: 0.8rem;">@w.Day.ToString("M/d")</td>
                                <td style="font-size: 0.8rem;">@w.Name</td>
                                <td style="font-size: 0.8rem;">@w.WorkName</td>
                                <td style="font-size: 0.8rem;">@w.Percent %</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

@code {
    //リストWorksに反応があるとUIに更新がかかる。
    [Parameter] public List<DTO.HomeModel.WorkList>? worklist { get; set; }

    [Inject] private HttpClient Http { get; set; } = default!;
    [Inject] private AppState AppState { get; set; } = default!;

    private bool isLoading = false;
    private void OnChangeHandler() => _ = ReloadData();
    protected override void OnInitialized()
    {
        AppState.OnChange += OnChangeHandler;
        _ = ReloadData(); // 初回データ読み込み
    }

    private async Task ReloadData()
    {
        try
        {
            isLoading = true; // ローディング開始
            await InvokeAsync(StateHasChanged); // UI更新
            var workListShow = new WorkListShow(DbContext);
            worklist = await workListShow.GetWorksAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"データ取得エラー: {ex.Message}");
        }
        finally
        {
            isLoading = false; // ローディング終了
            await InvokeAsync(StateHasChanged);
        }
    }

    public void Dispose()
    {
        AppState.OnChange -= OnChangeHandler;
    }

}