@page "/"
@* 一回だけレンダーするやつ *@
@rendermode @(new InteractiveServerRenderMode(prerender:false))
@* ページ変わっても変数に値保持するやつ *@
@inject Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage.ProtectedSessionStorage Storage

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@* DBからデータ取得完了するまでロード中を表示 *@


@code
{

}