@page "/"
@using kajiApp_blazor.Components.Component
@using kajiApp_blazor.Components.Models.HomeModel
@using kajiApp_blazor.Components.Data.HomeData
@rendermode @(new InteractiveServerRenderMode(prerender:false))
@using kajiApp_blazor.Components
@inject NavigationManager Navigation
@inject HttpClient Http
@inject IConfiguration Configuration





<div class="container mt-4 bg-black min-vh-100 py-4">
    <div class="bg-black text-light text-center py-3">
        <h3 class="mb-0 border-bottom border-secondary pb-2">実績入力フォーム</h3>
    </div>
    <WorkForm TodayWorkRegistration="todayworkregistration" />

    <div class="bg-black text-light text-center py-3 mt-4">
        <h3 class="mb-0 border-bottom border-secondary pb-2">実績一覧</h3>
    </div>
    <WorkList Works="works" />
</div>

@code {
    private List<Models.HomeModel.WorkList>? works = null;
    //インスタンス生成で入力フォームに使うNameListとWorkList作成
    private TodayWorkRegistration todayworkregistration = new TodayWorkRegistration();

    protected override async Task OnInitializedAsync()
    {
        //家事実績リストをDBから持ってくる。入力フォームさえできてればOKなので非同期で取得する
        _ = LoadWorksAsync();
        Console.WriteLine("終わったよ");
    }

    private async Task LoadWorksAsync()
    {
        works = await WorkListShow.GetWorksAsync();
        if (works != null)
        {
            await InvokeAsync(StateHasChanged);
        }
    }
}
